header {
    background-color: RGB(242,242,242,.5);
    height: 100px;
    margin: auto;
    padding-top: 54px;
    Font-Family: 'Slabo 13px', Serif;
    Font-Size: 48px;
}

html, body {
    margin: 60px;
    background-image: url("images/light_honeycomb.png");
    Font-Family: 'Lato', Sans-Serif;
    Font-Size: 16px;
    height: 100%;
}


p {
    color: #353C09;
    font-size: 20px;
    
}

h1 {
    font-size: 40px;
    margin: 0;
    color: #781169;
    text-align: center;
}

h2 {
    font-size: 30px;
    text-align: center;
    color: #424B0B;
    text-decoration: underline;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bolder;
}

section h3 {
    color: #781169
}

figure { 
    float: right;
    width: 30%;
    text-align: center;
    font-size: medium;
    font-weight: bolder;
    color: #424B0B;
    text-indent: 0;
    border: thin silver solid;
    margin: 30px;
    padding: 0.5em;
    overflow: hidden;
    display: inline-table;
}

footer {
    background-color: RGB(242,242,242,.5);
    padding: 0px;  
}

section{
    padding-bottom: 40px;
    font-size: 1rem;
}


/*Class Selectors*/


.button {
    background-color: RGB(105, 120, 17, .5);
    border: 2px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    clear: both;
}
.wrapper {
    min-height: 100%;
    margin-bottom: -100px;
    padding-bottom: 100px;
}
.clear{
    clear: both;
    padding-bottom: 1%;
}


/*ID Selectors*/

#grandmaImg {
    width: 400px;
    height: 266.672px;
}

#momandeimg {
    width: 200px;
    height: 100%;
    text-align: center
}

#clickHere {
    color: black
}
#construction{
    width: 100%;
    padding: 2rem;
}
#CGTitle{
    padding-top: 1rem;
}
#footerText{
    color: #424B0B;
    Font-Family: 'Slabo 13px', Serif;
    Font-Size: 20px;
    text-align: center;
    margin-top: 3%;
    vertical-align: center;
}